<div class="dev-outline">
<h2>Description of molitio</h2>
    <p>What is molitio and what is not.</p>
    
    <p>
        molitio is intended to be an open source resource distribution engine with
        live topographical fead back, sort of data displayed on a map.
    </p>
    
    <p>Two main types of resources recognized by the system,</p>
    <ul>
        <li>desideratum (old latin for desire)</li>
        <li>contribution</li>
    </ul>
    <p>subcategories are a breakdown of the given resource type.</p>
    <p>
        it aims to match desired and only desidered needs of human beings with
        contributions of other human beings contributions would be regarded with a
        single unit of "Token Of Good Deed" or "Good Deed Token" so high
        contributors can be recognized.
    </p>
    <p>
        the project is at it's infant phase lots of details regarding the
        functionalty to be yet implemented
    </p>
    
    <p>
        molitio is not a service thats intended for any monetary gain, it is open
        source and should be crowd sourced in the regards of digital compute
        resource needs
    </p>
</div>