<div class="container">
  <div fxLayout="row">
    <div fxFlex="20" fxFlexOrder="0">
      <molitio-molitio-logo></molitio-molitio-logo>
    </div>
    <div fxFlex="10" fxFlexOrder="1">
      <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon aria-hidden="false" aria-label="menu">
            menu
          </mat-icon>
        </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <a routerLink="/mission-board">mission board</a>
        </button>
        <button mat-menu-item>
          <a routerLink="/about">about</a>
        </button>
      </mat-menu>
    </div>
    <div fxFlex="70" fxFlexOrder="2" fxHide="false" fxHide.gt-md>
      <span>Messages: new message from site</span>
    </div>
  </div>
</div>
