.toolbar {
  display: flex;
  height: 64px;
}

.toolbar-spacer-menu {
  flex: 1 1 auto;
}

.toolbar-spacer-logo {
  flex: 1 1 auto;
}

.toolbar-spacer-messages {
  flex: 1 1 auto;
  flex-wrap: wrap;
}
