.toolbar {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0;
}

.toolbar-spacer-menu {
  min-width: 64px;
  flex-shrink: 0;
}

.toolbar-spacer-logo {
  min-width: 132px;
  max-height: 64px;
  flex-shrink: 0;
}

.toolbar-spacer-messages {
  flex: 1 1 auto;
  flex-wrap: wrap;
}
