<div class="dev-outline landing-page-content">
  <p>What is molitio and what is not.</p>

  <p>
  molitio is intended to be an open source resource distribution engine with live topographical fead back, sort of data displayed on a map.

  Two main types of resources recognized by the system, desideratum (old latin for desire) and contribution.
  subcategories are a breakdown of the given resource type.

  </p>
  <span>Containeriezed Web Apps</span>
  <ul>
    <li>Fast prototyping</li>
    <li>Agile</li>
    <li>Cloudbased</li>
    <li>Microservices</li>
    <li>MEAN Stack</li>
  </ul>
</div>
