.site-background {
  /*  background-image: url(./assets/static/earth.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: static;
  width: 100%;
  height: 100%;
  opacity: 50%;
  top: 0;
  z-index: -1;*/
}

.navigaton-bar {
  position: sticky;
  top: 0px;

/* position: fixed;
top: 0;
z-index: 9; */
}

.messages-container{
  position: sticky;
  bottom: 0px;
}

.router-outlet {
position: relative;

}