.logo {
    margin: 0px;
    padding: 0px;
   /*  max-width: 80px; */
}


a {
    margin: 0px;
}

.logo-container{
    display: flex;
    height: 64px;
    padding: 0px;
}

.logo img {
/*     width: 80px;
    height: 80px;
 */
}

.brand {
 /*    position: fixed;
    top: 0;
    left: 40px; */
}